<div id="inbox" class="contacts-outter-wrapper tab-pane active">
  <!-- <form class="panel-search-form info form-group has-feedback no-margin-bottom">
     <input type="text" class="form-control" name="search" placeholder="Search">
     <span class="fa fa-search form-control-feedback"></span>
   </form>-->
  <h3>Form recherche</h3>
  <div class="contacts-outter">
    <ul class="list-unstyled contacts">
      <li data-toggle="tab" data-target="#inbox-message-1" class="active">
        <div class="message-count">1</div>
        <img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />

        <div class="vcentered info-combo">
          <h3 class="no-margin-bottom name">John Doe</h3>
          <h5>Hah, too late, I already bought it and my team is impleting the new design right now.</h5>
        </div>
        <div class="contacts-add">
          <span class="message-time"> 2:32 <sup>AM</sup></span>
          <i class="fa fa-trash-o"></i>
          <i class="fa fa-paperclip"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
