<div id="sent" class="contacts-outter-wrapper tab-pane">
  <!--<form class="panel-search-form success form-group has-feedback no-margin-bottom">
    <input type="text" class="form-control" name="search" placeholder="Search">
    <span class="fa fa-search form-control-feedback"></span>
  </form>-->
  <h4>Recherche Form</h4>
  <div class="contacts-outter">
    <ul class="list-unstyled contacts success">
      <li data-toggle="tab" data-target="#sent-message-1">
        <img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />

        <div class="vcentered info-combo">
          <h3 class="no-margin-bottom name">David Beckham</h3>
          <h5>I would like to take a look at it this evening, is it possible ?</h5>
        </div>
        <div class="contacts-add">
          <span class="message-time"> 2:24 <sup>AM</sup></span>
          <i class="fa fa-trash-o"></i>
          <i class="fa fa-paperclip"></i>
        </div>
      </li>
      <li data-toggle="tab" data-target="#sent-message-2">
        <div class="message-count">7</div>
        <img alt="" class="img-circle medium-image" src="https://bootdey.com/img/Content/avatar/avatar1.png" />

        <div class="vcentered info-combo">
          <h3 class="no-margin-bottom name">Jeff Williams</h3>
          <h5>Hello, Dennis. I will take a look at it tomorrow, because I'm</h5>
        </div>
        <div class="contacts-add">
          <span class="message-time"> 12:41 <sup>AM</sup></span>
          <i class="fa fa-trash-o"></i>
          <i class="fa fa-paperclip"></i>
        </div>
      </li>
    </ul>
  </div>
</div>
