<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="canal">
      <h2 data-cy="canalDetailsHeading"><span>Canal</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ canal.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ canal.name }}</span>
        </dd>
        <dt><span>Created At</span></dt>
        <dd>
          <span>{{ canal.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Updated At</span></dt>
        <dd>
          <span>{{ canal.updatedAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ canal.description }}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
          <span *ngFor="let user of canal.users; let last = last"> {{ user.login }}{{ last ? '' : ', ' }} </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/canal', canal.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
